/* <<<<<<<<  GENERAL TAGS   >>>>>>>>  */

figure {
	margin: 0;
}

h5 {
	margin: 0;
}

button {
	cursor: pointer;
}

/* <<<<<<<<  GENERAL TAGS   >>>>>>>>  */

/* <<<<<<<<  App  >>>>>>>>  */
.App {
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* <<<<<<<<  App  >>>>>>>>  */

/* <<<<<<<<  HOME HEADER   >>>>>>>>  */
.home_header {
	/* width: 300px; */
	display: flex;
	justify-content: center;
}

.home_logoContainer {
	width: 225px;
	height: 225px;
}

.home_logo {
	width: 100%;
	height: 100%;
}

/* <<<<<<<<  HOME HEADER   >>>>>>>>  */

/* <<<<<<<<  HOME MENU BUTTON  >>>>>>>>  */
.home_menuBtn {
	margin-bottom: 20px;
	font-size: 22px;
	letter-spacing: 2px;
	border-radius: 15px;
	border-style: none;
	height: 50px;
	width: 300px;
	background: #7c9c66;
	color: white;
}

/* <<<<<<<<  HOME MENU BUTTON  >>>>>>>>  */

/* <<<<<<<<  HOME SLIDER  >>>>>>>>  */

.slider {
	display: flex;
	position: relative;
	width: 300px;
	height: 533px;
	overflow: hidden;
	border-radius: 20px;
}

.slider article {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s linear;
}

.slider_imgContainer {
	width: 300px;
	height: 533px;
	border-radius: 20px;
	overflow: hidden;
}

.slider_link {
	display: flex;
	justify-content: center;
	position: relative;
	height: 533px;
	width: 300px;
	text-decoration: none;
	color: black;
}

.slider_img {
	width: 100%;
	height: 100%;
}

.slider_buyText {
	position: absolute;
	bottom: 150px;
	height: 30px;
	width: 130px;
	background: #ffffffc2;
	display: grid;
	place-items: center;
	border-radius: 10px;
}

.slider article.activeSlide {
	opacity: 1;
	transform: translateX(0);
}
.slider article.lastSlide {
	transform: translateX(-100%);
}
.slider article.nextSlide {
	transform: translateX(100%);
}

.slider_prevBtn {
	left: 0;
}

.slider_nextBtn {
	right: 0;
}

.slider_prevBtn,
.slider_nextBtn {
	position: absolute;
	top: 250px;
	background: #ffffff8c;
	color: #222;
	width: 50px;
	height: 50px;
	display: grid;
	place-items: center;
	border-color: transparent;
	font-size: 40px;
	padding: 0;
	border-radius: 40px;
	cursor: pointer;
}
/* <<<<<<<<  HOME SLIDER  >>>>>>>>  */

/* <<<<<<<<  MENU COMPONENTS IMAGES >>>>>>>>  */

.drinks {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menuImg_container {
	width: 300px;
}
.menuImg_container img {
	width: 100%;
}

/* <<<<<<<< MENU COMPONENTS IMAGES  >>>>>>>>  */

.menu_item {
	margin: 0 auto;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navBar {
	width: 100vw;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 999;
	background-color: #fdfdfd;
	box-shadow: 2px 5px 15px #f1f1f1;
	/* margin-bottom: 30px; */
}

.taxInfo {
	text-align: center;
	font-size: 10px;
	color: #c7c7c7;
}

.navBar_icon {
	display: grid;
	font-size: 25px;
	background-color: transparent;
	border-style: none;
}
.navBar p {
	color: #c7c7c7;
	text-transform: capitalize;
}

.menuList {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: #7c9c66; */
}

.menuList_nav {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 300px;
}

.menuList_buttons {
	display: flex;
	width: 150px;
	height: 400px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.menuList_buttons button {
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	background: #7c9c66;
	color: white;
}

.icon {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	font-size: 20px;
	background: transparent;
	border: none;
}

.icon-home {
	margin-left: 20px;
	color: #7c9c66;
}

.icon-menu {
	margin-right: 20px;
	color: #7c9c66;
}

.icon-white {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	font-size: 20px;
	background: transparent;
	border: none;
	color: #7c9c66;
}

.btn {
	padding: 10px;
	border-radius: 15px;
	border: none;
	background: transparent;
	color: #7c9c66;
}
